<launch>

<rosparam file="$(find 2_dof_description)/launch/controller.yaml" command="load"/>
<node args="Rev1_position_controller Rev2_position_controller Slider5_position_controller Slider6_position_controller joint_state_controller " name="controller_spawner" ns="2_dof" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/2_dof/joint_states"/>
</node>

</launch>